.translate-table {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.translate-row {
	display: table-row;
}
.translate-row.over {
	border-top: 2px solid #558b87;
}
.translate-row:hover {
	background-color: #f2f2f2;
}
.translate-row.header {
	font-weight: bold;
}
.translate-row.header > div {
	padding: 4px;
}
.translate-row > div {
	display: table-cell;
	border: 1px solid #aaaaaa;
	vertical-align: top;
	line-height: normal;
}
.translate-row > div:focus-within {
	outline: 2px solid #558b87;
	outline-offset: -2px;
}
.translate-row > .same {
	background-color: #dbeceb;
}
.translate-row > .nd {
	background-color: #e5bcbc;
}
.translate-row > .nt {
	background-color: #ffe3e3;
}
.translate-row input {
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	line-height: normal;
	padding: 4px;
}
.translate-row textarea {
	resize: none;
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	line-height: normal;
	height: 3.2em;
	overflow-y: auto;
	padding: 4px;
}
.translate-row svg {
	pointer-events: none;
}
.translate-row > .add, .translate-row > .del, .translate-row > .move {
	width: 2em;
	padding: 4px;
}

form.form-group select {
	width: 100%;
	margin-bottom: 8px;
}
form.form-group select.form-control[multiple] {
	min-height: 0;
}
