.translate-table {
	display: grid;
	gap: 1px;
	border: 1px solid #bbb;
	background-color: #bbb;
	min-width: min-content;
}

.translate-row {
	display: flex;
	gap: 1px;
	background-color: #bbb;
}

.translate-row.over {
	border-top: 2px solid #558b87;
}

.translate-row:hover > div:not(.same, .nd, .nt) {
	background-color: #f2f2f2;
}

.translate-row.header {
	font-weight: bold;
}

.translate-row.header > div {
	padding: 4px;
}

.translate-row > div {
	width: 100%;
	background-color: #fff;
	line-height: normal;
}

.translate-row > div:focus-within {
	outline: 2px solid #558b87;
	outline-offset: -2px;
}

.translate-row > .same {
	background-color: #dbeceb;
}

.translate-row > .nd {
	background-color: #e5bcbc;
}

.translate-row > .nt {
	background-color: #ffe3e3;
}

.translate-row input {
	width: 100%;
	min-width: 150px;
	padding: 4px;
	border: none;
	background-color: transparent;
	outline: none;
	line-height: normal;
}

.translate-row textarea {
	overflow-y: auto;
	width: 100%;
	min-width: 150px;
	height: 3.2em;
	padding: 4px;
	border: none;
	background-color: transparent;
	outline: none;
	line-height: normal;
	resize: none;
}

.translate-row svg {
	pointer-events: none;
}

.translate-row > .add, .translate-row > .del, .translate-row > .move {
	width: 3.6em;
	min-width: 3.6em;
	padding: 4px;
}

form.form-group select {
	width: 100%;
	margin-bottom: 8px;
}

form.form-group select.form-control[multiple] {
	min-height: 0;
}
