<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:form action="list" controller="Module" class="form-group">
	<f:form.select
	    name="extkey"
	    options="{conf.extensions}"
	    optionLabelField="key"
	    optionValueField="key"
	    value="{extkey}"
	    prependOptionValue="0"
	    prependOptionLabel="{f:translate(key:'choose_extension')} {f:if(condition:'{isAdmin} && {conf.extFilter} && {conf.extFilter} != *',then:'(Filter: {conf.extFilter})')}"
	    class="form-select"
	    data="{name:'extkey'}" />
	<f:if condition="{extkey}">
		<f:form.select name="file" options="{files}" value="{file}" prependOptionValue="0" prependOptionLabel="{f:translate(key:'choose_file')}" class="form-select" data="{name:'file'}" />
		<f:if condition="{file}">
			<f:form.select name="langKeys" options="{conf.langKeys}" value="{langKeys}" multiple="1" class="form-select" size="{conf.langKeys->f:count()}" data="{name:'langKeys'}" />
		</f:if>
	</f:if>
</f:form>

</html>
