{namespace core=TYPO3\CMS\Core\ViewHelpers}
<div class="add" title="{f:translate(key: 'add')}"><a href="#" class="btn btn-sm btn-default"><core:icon identifier="actions-add" /></a></div>
<div class="del" title="{f:translate(key: 'remove')}"><a href="#" class="btn btn-sm btn-default"><core:icon identifier="actions-edit-delete" /></a></div>
<div class="move" title="{f:translate(key: 'move')}"><span class="btn btn-sm btn-default"><core:icon identifier="actions-move-move" /></span></div>
<f:if condition="{conf.autoTranslate}">
	<div class="autotrans" title="{f:translate(key: 'autotrans')}"><span class="btn btn-sm btn-default"><core:icon identifier="actions-download" /></span></div>
</f:if>
