<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form id="translate_labels" action="save" controller="Module" method="post" class="form-group" enctype="multipart/form-data" 
    additionalAttributes="{spellcheck:'false',autocomplete:'off',autocorrect:'off',autocapitalize:'off'}">

	<f:form.hidden name="extension" value="{extension}" />
	<f:form.hidden name="file" value="{file}" />
	<f:for each="{langKeys}" as="langKey">
		<f:form.hidden name="langKeys[]" value="{langKey}" />
	</f:for>
	<div class="translate-table form-group">
		<div class="translate-row header">
			<div>{f:translate(key: 'key')}</div>
			<div>{conf.defaultLangKey} ({f:translate(key: 'default')})</div>
			<f:for each="{langKeys}" as="langKey">
				<f:if condition="{langKey} != 'default'"><div>{langKey}</div></f:if>
			</f:for>
			<f:if condition="{conf.modifyKeys}">
				<div class="add"></div>
				<div class="del"></div>
				<div class="move"></div>
			</f:if>
		</div>
		<f:for each="{labels}" as="label" key="key">
		<f:if condition="{key}">
		<div class="translate-row">
			<div>
				<f:form.textfield name="keys[{key}]" value="{key}" readonly="{f:if(condition:'{conf.modifyKeys}',else:'1')}" />
			</div>
			<div class="{f:if(condition:'{label.default}',else:'nd')}">
				<f:form.textarea name="labels[{key}][default]" value="{label.default}" readonly="{f:if(condition:'{conf.langKeysAllowed.default}',else:'1')}" />
			</div>
			<f:for each="{label}" as="value" key="langKey">
				<f:if condition="{langKey} != 'default'">
					<div class="{f:if(condition: '{value}', then: '{f:if(condition:\'{value} == {label.default}\',then:\'same\')}',else:'nt')}">
						<f:form.textarea name="labels[{key}][{langKey}]" value="{value}" />
					</div>
				</f:if>
			</f:for>
			<f:if condition="{conf.modifyKeys}">
				<f:render partial="Module/Icons" />
			</f:if>
		</div>
		</f:if>
		</f:for>
		<div class="translate-row">
			<div>
				<f:form.textfield name="keys[_newkey]" value="" readonly="{f:if(condition:'{conf.modifyKeys}',else:'1')}" />
			</div>
			<div>
				<f:form.textarea name="labels[_newkey][default]" value="" readonly="{f:if(condition:'{conf.langKeysAllowed.default}',else:'1')}" />
			</div>
			<f:for each="{langKeys}" as="langKey">
			<f:if condition="{langKey} != 'default'">
				<div>
					<f:form.textarea name="labels[_newkey][{langKey}]" value="" />
				</div>
			</f:if>
			</f:for>
			<f:if condition="{conf.modifyKeys}">
				<f:render partial="Module/Icons" />
			</f:if>
		</div>
	</div>
	<f:if condition="{conf.modifyKeys}">
		<f:link.action action="list" arguments="{extension:extension,file:file,langKeys:langKeys,sort:1}" class="pull-right">{f:translate(key:'sort_by_key')}</f:link.action>
	</f:if>
	<br>
	<br>
	<f:if condition="{conf.modifyKeys}">
		<div class="form-group">
			<div><label>{f:translate(key: 'load_labels_from_csv_file')}</label></div>
			<f:form.upload name="importFile" class="btn btn-default" style="display:inline-block;" />
			<f:form.button formaction="{f:uri.action(action:'importCsv')}" value="{f:translate(key:'import')}" class="btn btn-default">{f:translate(key:'import')}</f:form.button>
		</div>
	</f:if>
</f:form>
</html>
