<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form action="save" controller="Module" method="post" class="form-group">

	<f:form.hidden name="extension" value="{extension}" />
	<f:form.hidden name="file" value="{file}" />
	<f:for each="{langKeys}" as="langKey">
		<f:form.hidden name="langKeys[]" value="{langKey}" />
	</f:for>
	<div class="form-group">
		<f:form.submit value="{f:translate(key:'save')}" disabled="{disableSaveButtons}" class="btn btn-default" />
	</div>
	<div class="translate-table form-group">
		<div class="translate-row header">
			<div>key</div>
			<div>{conf.defaultLangKey} (default)</div>
			<f:for each="{langKeys}" as="langKey">
				<f:if condition="{langKey} != 'default'"><div>{langKey}</div></f:if>
			</f:for>
			<f:if condition="{conf.modifyKeys}">
				<div class="add"></div>
				<div class="del"></div>
				<div class="move"></div>
			</f:if>
		</div>
		<f:for each="{labels}" as="label" key="key">
		<f:spaceless>
		<f:if condition="{key}">
		<div class="translate-row">
			<div>
				<f:form.textfield name="keys[{key}]" value="{key}" readonly="{f:if(condition:'{conf.modifyKeys}',else:'1')}" additionalAttributes="{autocomplete:'off'}" />
			</div>
			<div class="{f:if(condition:'{label.default}',else:'nd')}">
				<f:form.textarea name="labels[{key}][default]" value="{label.default}" additionalAttributes="{f:if(condition:'{conf.langKeysAllowed.default}',else:'{readonly:\'1\'}')}" />
			</div>
			<f:for each="{label}" as="value" key="langKey">
				<f:if condition="{langKey} != 'default'">
					<div class="{f:if(condition: '{value}', then: '{f:if(condition:\'{value} == {label.default}\',then:\'same\')}',else:'nt')}">
						<f:form.textarea name="labels[{key}][{langKey}]" value="{value}" />
					</div>
				</f:if>
			</f:for>
			<f:if condition="{conf.modifyKeys}">
				<f:render partial="Module/Icons" />
			</f:if>
		</div>
		</f:if>
		</f:spaceless>
		</f:for>
		<div class="translate-row">
			<div>
				<f:form.textfield name="keys[_newkey]" value="" readonly="{f:if(condition:'{conf.modifyKeys}',else:'1')}" additionalAttributes="{autocomplete:'off'}" />
			</div>
			<div>
				<f:form.textarea name="labels[_newkey][default]" value="" additionalAttributes="{f:if(condition:'{conf.langKeysAllowed.default}',else:'{readonly:\'1\'}')}" />
			</div>
			<f:for each="{langKeys}" as="langKey">
			<f:if condition="{langKey} != 'default'">
				<div>
					<f:form.textarea name="labels[_newkey][{langKey}]" value="" />
				</div>
			</f:if>
			</f:for>
			<f:if condition="{conf.modifyKeys}">
				<f:render partial="Module/Icons" />
			</f:if>
		</div>
	</div>
	<f:if condition="{conf.modifyKeys}">
		<f:link.action action="list" arguments="{extension:extension,file:file,langKeys:langKeys,sort:1}" class="pull-right">{f:translate(key:'sort_by_key')}</f:link.action>
	</f:if>
	<div class="form-group">
		<f:form.submit value="{f:translate(key:'save')}" disabled="{disableSaveButtons}" class="btn btn-default" />
		<f:if condition="{labels}">
			<f:form.button formaction="{f:uri.action(action:'exportCsv')}" value="{f:translate(key:'export')}" class="btn btn-default">{f:translate(key:'export')}</f:form.button>
		</f:if>
	</div>
</f:form>
</html>
