<div class="panel panel-default">
	<div class="panel-body">
		<f:form action="search" controller="Module" class="form-group">
			<div class="form-group">
				<f:form.textfield name="word" value="{word}" class="form-control" placeholder="Label"/>
			</div>
			<div class="form-group">
				<f:form.submit name="search" value="{f:translate(key:'search_all')}" class="btn btn-default"/>
			</div>
		</f:form>
		<f:if condition="{results}"><h2>{f:translate(key:'search_results')}:</h2></f:if>
		<f:for each="{results}" as="result">
			<div><f:link.action action="list" arguments="{extension:result.0,file:result.1,langKeys:result.2}"><strong>{result.0}</strong>/Resources/Private/Language/{result.1}</f:link.action></div>
		</f:for>
	</div>
</div>