<html
   xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
   xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
   xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
   data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="Content">
	<f:flashMessages />
	<h1>{f:translate(key:'search')}</h1>
	<f:form action="search" controller="Module" class="form-group">
		<div class="form-group">
			<div class="input-group">
				<f:form.textfield name="word" value="{word}" class="form-control" placeholder="{f:translate(key:'search_text')}"/>
				<span class="input-group-btn">
					<f:form.button type="submit" value="{f:translate(key:'search_all')}" class="btn btn-default">{f:translate(key:'search_all')}</f:form.button>
				</span>
			</div>
		</div>
	</f:form>
	<f:if condition="{word}">
		<f:if condition="{results}">
			<f:then>
				<h2>{f:translate(key:'search_results')}:</h2>
				<f:for each="{results}" as="result">
					<div>
						<f:link.action action="list" arguments="{extkey:result.0,file:result.1,langKeys:result.2}"><strong>{result.0}</strong>/Resources/Private/Language/{result.1}</f:link.action>
					</div>
				</f:for>
			</f:then>
			<f:else>
				<div>{f:translate(key: 'search_results_none')}</div>
			</f:else>
		</f:if>
	</f:if>
</f:section>

</html>
